---
import Whatsaap from '../assets/icon/whatsapp.svg';
import Facebook from '../assets/icon/facebook.svg';
import Instagram from '../assets/icon/instagram.svg';
import Location from '../assets/icon/location.svg';
import Mail from '../assets/icon/mail.svg';
import Clock from '../assets/icon/clock.svg';
import Phone from '../assets/icon/phone.svg';

---

<div class="h-11 w-full bg-sky-blue flex items-center justify-between px-[8%] text-white">
    <div class="flex gap-4">
        <div class="flex gap-2">
            <Phone/>
            <a href="#">
                0412-853-0414
            </a>
        </div> 
        <div class="flex gap-2">
            <Location />
            <a href="#">Turmero Calle Camilo Torres</a>
        </div>
    </div>
    <div class="flex gap-4 items-center">
        <div class="flex gap-2">
            <Clock />
            <a href="#">Lunes a Viernes 8:00am a 4:30pm / 5:30pm</a>
        </div>
        <div class="flex items-center">
            <Instagram class='text-white h-8'/>
            <Facebook class='h-8'/>
            <Mail class="h-8 gap-0"/>
        </div>
    </div>
    
</div>