---
import Whatsaap from '../assets/icon/whatsapp.svg';
import Facebook from '../assets/icon/facebook.svg';
import Instagram from '../assets/icon/instagram.svg';
import Location from '../assets/icon/location.svg';
import Mail from '../assets/icon/mail.svg';
import Clock from '../assets/icon/clock.svg';
import Phone from '../assets/icon/phone.svg';

---

<div class="h-11 w-full bg-sky-blue flex items-center justify-between px-[8%] text-white">
    <div class="flex gap-4">
        <div class="flex gap-2 item-center">
            <Phone/>
            <a href="#" class="text-sm">
                0412-853-0414
            </a>
        </div> 
        <div class="flex gap-2 item-center">
            <Location />
            <a href="#" class="text-sm">Turmero Calle Camilo Torres</a>
        </div>
    </div>
    <div class="flex gap-4 items-center">
        <div class="flex gap-2 items-center mx-3">
            <Clock />
            <a href="#" class="text-sm">Lunes a Viernes 8:00am a 4:30pm / 5:30pm</a>
        </div>
        <div class="flex items-center gap-0">
            <Instagram class='h-8 w-8'/>
            <Facebook class='h-7 w-7 mx-2'/>
            <Mail class="h-8 w-8"/>
        </div>
    </div>
    
</div>