---
import Question from "../assets/icon/question.svg";
const { title, text } = Astro.props;
---

<div class="service-item flex flex-col cursor-pointer h-auto transition-all duration-300 border border-border-color shadow-sm w-128 py-2 my-4">
    <div class="title_service flex justify-between items-center px-4">
        <h3 class="font-bold text-xl text-center">{title}</h3>
        <Question class="text-amber-300 text-bold"/>
    </div>
    <p class="text_service text-black-text  overflow-hidden transition-all duration-300 max-h-0 opacity-0 px-4">{text}</p>
</div>

<script is:inline>
    
    document.querySelectorAll('.service-item').forEach(item => {
        const titleService = item.querySelector(".title_service");
        const textService = item.querySelector(".text_service");

        titleService.addEventListener("click",()=>{
        titleService.classList.toggle("hideen");

        textService.classList.toggle('max-h-0');
        textService.classList.toggle('opacity-0');
        textService.classList.toggle('max-h-[500px]');
        textService.classList.toggle('opacity-100');
        textService.classList.toggle('mt-2');
    });
    });

   
</script>